.goBack {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 15%;
}
.details {
    position: relative;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}
.dictionary-block {
    margin-bottom: 20px;
}
.loading {
    position: relative;
    top: 200px;
    left: 50%;
    height: 100px;
    width: 100px;
    background: url(../Content/images/ajax-loader.gif) 50% 50% no-repeat;
}