<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="DatabaseSchema" value="DICTIONARIES" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DictionaryContext" connectionString="DATA SOURCE=collectsm_dev.world;PASSWORD=DICTIONARIES;USER ID=DICTIONARIES;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="collectsm_test.world" descriptor="(DESCRIPTION_LIST = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = kacolldbu01.alfa.bank.int)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = COLLECTSM_U2.center.kiev.ua.alfabank)(FAILOVER_MODE = (TYPE = session) (METHOD = BASIC) (RETRIES = 3) (DELAY = 0)))))" />
        <dataSource alias="collectsm_dev.world" descriptor="(DESCRIPTION_LIST = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = kacolldbd01.alfa.bank.int)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = COLLECT_A.center.kiev.ua.alfabank)(FAILOVER_MODE = (TYPE = session) (METHOD = BASIC) (RETRIES = 3) (DELAY = 0)))))" />
        <dataSource alias="collectsm_r.world" descriptor="(DESCRIPTION_LIST = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = kacolldbu02.alfa.bank.int)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = COLLECTSM_R.center.kiev.ua.alfabank)(FAILOVER_MODE = (TYPE = session) (METHOD = BASIC) (RETRIES = 3) (DELAY = 0)))))" />
        <dataSource alias="collectsm_p.world" descriptor="(DESCRIPTION_LIST = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = dacolldbu01.alfa.bank.int)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = COLLECTSM_P.kiev.ua.alfabank)(FAILOVER_MODE = (TYPE = session)(METHOD = BASIC)(RETRIES = 3)(DELAY = 0)))))" />
        <dataSource alias="collectsm.world" descriptor="(DESCRIPTION_LIST = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = kacolldbp01.alfa.bank.int)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = COLLECTSMDB.center.kiev.ua.alfabank) (FAILOVER_MODE = (TYPE = session)(METHOD = BASIC)(RETRIES = 1)(DELAY = 1)))) (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = dacolldbb01.alfa.bank.int)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = COLLECTSMDB.kiev.ua.alfabank) (FAILOVER_MODE = (TYPE = session)(METHOD = BASIC)(RETRIES = 1)(DELAY = 1)))))" />
  
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>